Repository zbowling/depwise: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, actionlint

check-yaml:
  name: Check YAML
  entry: pixi run --environment=lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

actionlint:
  name: Lint GitHub Actions workflow files
  language: system
  entry: pixi run --environment=lint actionlint
  stages:
  - pre-commit
  - manual

Create rust-clippy.yml
  .github/workflows/rust-clippy.yml
Due: check-yaml, actionlint

Create FUNDING.yml
  .github/FUNDING.yml
Due: check-yaml

feature: parser should capture if the import is top level and try to guess the import is exception guarded
  crates/depwise_analysis/src/parser.rs
Due: none

Update app descriptions
  Cargo.lock
  Cargo.toml
  crates/depwise/Cargo.toml
  crates/depwise/src/main.rs
  pixi.lock
  pyproject.toml
Due: none

Update app descriptions
  .github/workflows/CI.yml
  Cargo.lock
  Cargo.toml
  LICENSE
  crates/depwise/Cargo.toml
  crates/depwise/src/main.rs
  pixi.lock
  pyproject.toml
Due: check-yaml, actionlint

Update readme and descriptions, install directory, etc
  Cargo.toml
  README.md
  crates/depwise/Cargo.toml
  crates/depwise_analysis/Cargo.toml
  dist-workspace.toml
  pixi.lock
  pyproject.toml
Due: none

Update app descriptions
  .github/workflows/CI.yml
  LICENSE
Due: check-yaml, actionlint

Update tbump and other build settings
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  pixi.lock
  pyproject.toml
Due: none

Ignore pixi lock
  .gitignore
  pixi.lock
Due: none

Warn folks this is pre-alpha
  README.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|.magic)
  actionlint: any of: ^\.github/workflows/ and \.(yaml|yml)$ and not ((^.pixi/|.snap|.magic))
